@import models.report.ReportData

@(l : List[ReportData],r :String)
@import play.libs.Json;

@main(r){

    <style type="text/css">

    #chart_div {
        height : 100 % ;
    }
    table {
        page-break-inside:auto !important;
        border:solid #000 !important;
        border-width:1px 0 0 1px !important;
        margin: 5px !important;
        width:100% !important;
    }
    tr{
        page-break-inside:avoid; page-break-after:always !important;
    }
    thead{
        display:table-header-group;
    }
    tfoot{
        display:table-footer-group;
    }
    th, td{ border:solid #000 !important;
        border-width:0 1px 1px 0 !important;
        border-collapse:collapse;
        border: 1px solid black;
        width:50%;
        text-align:center !important;
    }

    </style>
    <div id="chart_div" class = "row" ></div>
    <div id="chart_img"></div>
    <script type="text/javascript">
        google.load('visualization', '1.0', {'packages':['corechart', 'controls']});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

            @l.take(l.size()-1).map{listItem =>

                ['@listItem.getData', @listItem.getQuantity],

             }
        ]);

            var options = {'title':"@r",'height':500, pieHole: 0.4
            ,'sliceVisibilityThreshold':9/1000};
            var chart = new google.visualization.PieChart ( document.getElementById ( 'chart_div' ) ) ;
            chart.draw(data, options);
        }
    </script>
        <div class="container container-fluid ">
            <table class="table-bordered table-responsive table ">
                <tr>
                    <th>Campo</th>
                    <th>Quantidade</th>
                </tr>
                @l.map{listItem =><tr>
                    <td>
                        @listItem.getData
                    </td>
                    <td>
                    @listItem.getQuantity
                    </td>
                </tr> }
            </table>
        </div>
    }