@(l : List[ReportData])
@main("Wow"){

    <div class="container container-fluid ">
        <table class="table-bordered table-responsive table ">
            <tr>
                <th>Bairro</th>
                <th>Quantidade</th>
            </tr>
            @l.map{listItem =><tr>
                <td>
                    @listItem.getData
                </td>
                <td>
                    @listItem.getQuantity
                </td>
            </tr> }
        </table>
    </div>

}