@import models.report.ReportData

@(l : List[ReportData])
@import play.libs.Json;

@main("Wow"){
    <div id="chart_div" class = "row"></div>
        <script type="text/javascript">
        google.load('visualization', '1.0', {'packages':['corechart', 'controls']});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

            @l.take(l.size()-1).map{listItem =>

                ['@listItem.getData', @listItem.getQuantity],

             }
        ]);

            var options = {'title':'Ocorrências'};
            var chart = new google.visualization.PieChart ( document.getElementById ( 'chart_div' ) ) ;
            chart.draw(data, options);
        }
        </script>
}