@import models.report.ReportData

@(l : List[ReportData],r :String)
@import play.libs.Json;

@main(r){
    <style>
        #chart_div{
            height: 80%;
        }
    </style>
    <div id="chart_div" class = "row" ></div>
        <script type="text/javascript">
        google.load('visualization', '1.0', {'packages':['corechart', 'controls']});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([

            @l.take(l.size()-1).map{listItem =>

                ['@listItem.getData', @listItem.getQuantity],

             }
        ]);

            var options = {'title':"@r",'height':500, pieHole: 0.4
            ,'sliceVisibilityThreshold':9/1000};
            var chart = new google.visualization.PieChart ( document.getElementById ( 'chart_div' ) ) ;
            chart.draw(data, options);
        }
        </script>
    <div class="container container-fluid ">
        <table class="table-bordered table-responsive table ">
            <tr>
                <th>Bairro</th>
                <th>Quantidade</th>
            </tr>
            @l.map{listItem =><tr>
                <td>
                    @listItem.getData
                </td>
                <td>
                @listItem.getQuantity
                </td>
            </tr> }
        </table>
    </div>
}